Source: hdsentinel-gui
Section: utils
Priority: optional
Maintainer: crims0n <crims0n@minios.dev>
Build-Depends: debhelper (>= 11), wget, tar, unzip, xz-utils
Standards-Version: 4.1.3
Homepage: https://www.hdsentinel.com/hard_disk_sentinel_linux_gui.php

Package: hdsentinel-gui
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HD Sentinel GUI
 HD Sentinel is a hard disk monitoring software with highest possible support of HDD/SSD/SSHD (hybrid) drives.
